@import "tailwindcss";
@import "@heroui/styles";

@custom-variant dark (&:is(.dark *));

@theme {
    --font-sans: "font", sans-serif;
    --font-mono: "monospace", monospace;
}

.texto-elegante {
  font-family: 'Libre Baskerville', serif;
  font-size: 16px; 
}
